<!DOCTYPE html>
<html lang="en">

<head th:replace="~{fragments/commons::head}"></head>

<body>

    <header>
        <nav th:replace="~{fragments/commons::navigation}"></nav>
    </header>

    <div class="container-fluid">

        <div class="row mb-2 text-dark">
            <h3 class="text-center m-auto py-3" th:text="${heading}">All cocktails</h3>
        </div>

        <div class="card-group custom-padding">

            <div th:each="c : ${cocktails}" th:object="${c}"
                 class="col-sm-12 col-md-6 col-lg-4 mb-4">
                <div class="card h-100 border-0 shadow without-radius">
                    <img class="card-img-top without-radius" th:src="*{pictureUrl}" alt="Card image cap">
                    <div class="card-body">
                      <h5 th:text="*{name}"
                              class="card-title mb-0">Коктейл</h5>
                      <p th:text="|Добавена от: *{author}|"
                         class="card-text">Добавена от: Александра Милева</p>
                    </div>
                    <div class="card-footer bg-white">
                        <div class="d-flex flex-row">
                            <div th:switch="${c.spirit.name()}"
                                    class="col-3 p-2 text-center">
                                <p>Алкохол</p>
                                <div th:case="'WHISKEY'" style="font-weight: bold;">
                                    Whiskey
                                </div>
                                <div th:case="'TEQUILA'" style="font-weight: bold;">
                                    Tequila
                                </div>
                                <div th:case="'GIN'" style="font-weight: bold;">
                                    Gin
                                </div>
                                <div th:case="'RUM'" style="font-weight: bold;">
                                    Rum
                                </div>
                                <div th:case="'VODKA'" style="font-weight: bold;">
                                    Vodka
                                </div>
                                <div th:case="'BRANDY'" style="font-weight: bold;">
                                    Brandy
                                </div>
                                <div th:case="'NONE'" style="font-weight: bold;">
                                    Without alcohol
                                </div>
                            </div>
                            <div class="col-3 p-2 text-center">
                                <p>Вкус</p>
                                <p th:text="*{#strings.capitalize(#strings.toLowerCase(flavour))}" style="font-weight: bold;">Sweet</p>
                            </div>
                            <div class="col-3 p-2 text-center">
                                <p>%</p>
                                <p th:text="|*{percentAlcohol}%|" style="font-weight: bold;">13%</p>
                            </div>
                            <div class="col-3 p-2 text-center">
                                <p>Порции</p>
                                <p th:text="*{servings}" style="font-weight: bold;">5</p>
                            </div>
                        </div>
                        <a th:href="@{/cocktails/details/{id}(id=*{id})}" class="btn btn-secondary btn-sm mb-2">Details</a>
                    </div>
                  </div> 
            </div>
        </div>


    </div>

    <th:block th:if="${not cocktails.isEmpty()}">
        <nav th:replace="~{fragments/commons::pagination}"></nav>
    </th:block>


    <footer th:replace="~{fragments/commons::footer}"></footer>

</body>

</html>